<!DOCTYPE html>
<html lang="pt-br">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Menu Responsivo</title>
      <link rel="stylesheet" href="../static/output.css">
  </head>
  <body class="flex flex-col min-h-screen bg-gray-100">
      <header class="align-items-center mb-8">
        <!-- <nav class="flex justify-around items-center font-sans bg-blue-300 h-8">
            <a href="#" class="logo">Logo</a>
            <button class="md:hidden" onclick="toggleMenu()">☰</button>
            <ul id="menu" class="flex gap-20 md:flex-row md:items-center">
                <li class="letter-spacing-3 ml-8"><a href="#">Página Inicial</a></li>
                <li class="letter-spacing-3 ml-8"><a href="#">Sobre</a></li>
                <li class="letter-spacing-3 ml-8"><a href="#">Serviços</a></li>
                <li class="letter-spacing-3 ml-8"><a href="#">Contato</a></li>
            </ul>
        </nav> -->
        <nav class="flex justify-between bg-blue-300">
          <a href="/dashboard" class="font-bold px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900"><img src="img.jpg" class="w-12"></a>
          <a href="login.html" class="font-bold px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Login</a>
        </nav>
      </header>
      <main class="flex-grow mt-8">
        <div class="container mx-auto">
          <div class="flex items-center gap-4">
            <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
              <div class="md:flex">
                <div class="md:shrink-0">
                  <img class="h-48 w-full object-cover md:h-full md:w-48" src="img.jpg" alt="Modern building architecture">
                </div>
                <div class="p-8">
                  <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Company retreats</div>
                  <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Incredible accommodation for your team</a>
                  <p class="mt-2 text-slate-500">Looking to take your team away on a retreat to enjoy awesome food and take in some sunshine? We have a list of places to do just that.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="gap-5">
            &nbsp
          </div>

          <div class="flex items-center gap-4">
            <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
              <div class="md:flex">
                <div class="md:shrink-0">
                  <img class="h-48 w-full object-cover md:h-full md:w-48" src="img.jpg" alt="Modern building architecture">
                </div>
                <div class="p-8">
                  <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Company retreats</div>
                  <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Incredible accommodation for your team</a>
                  <p class="mt-2 text-slate-500">Looking to take your team away on a retreat to enjoy awesome food and take in some sunshine? We have a list of places to do just that.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>


      <footer class="bg-blue-300 text-white text-center py-4">
        <div class="flex gap-3 items-center">
          <img src="img.jpg" alt="logo" class="w-36">
          <p>Direitos autorais</p>
        </div>
      </footer>
  </body>
</html>
